body {
    max-width: 480px;
    margin: 0 auto;
}

a:hover {
    color: #ff6d00;
    transition: 0.3s ease;
}

img:hover {
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
